/*GLOBAL*/

.wrapper {
	max-width: 1400px;
    min-width: 296px;
    margin: 0 auto;
	}
body {
	background-color: #f9f9f9;
	color: #484848;
}
.onboard{
	background-color: #fff;
	margin: 40px 0px;
	border: 1px solid #e3e3e3;
	height: 600px;
}
h6{
	color: #484848;
	opacity: .5;
	margin-bottom: 2px;
}
.line {
	border-left: 1px solid #e3e3e3;
}

/*STEPS*/
.onboard-steps-wrapper {
	border-bottom:1px solid #e3e3e3;
}
.onboard-steps {
	margin-left: 20px;
}

/*MAIN MODULE*/
.onboard-departments{
}
.onboard-departments button {
	width: 100%;
	background-color: #fff;
	border:none;
	padding-left: 20px;
	margin-top: 5px;
}
.department-button {
	float: left;
	color: #484848;
	opacity: .5;
}
.department-button.active{
	color: #0372bc;
	opacity: 1;
}
.department-button:hover {
	color: #0372bc;
	opacity: 1;
}
.department-button .fa {
	margin-right: 10px;
}

/*TREE*/
.onboard-tree {
	height: 543px;
}
.tree-line {
	height: 78px;
    width: 2px;
    background: #e3e3e3;
    position: absolute;
    margin-left: 31px;
    margin-top: 44px;
    z-index: 2;
}
.onboard-tree button{
	z-index: 6;
	border-radius: 12px;
	height: 24px;
	width: 24px;
	border:2px solid #e3e3e3;
	background: #fff;
	float: left;
	margin: 20px 0px 0px 10px;
	margin-left: 20px;
	padding: 0px;
}
.onboard-tree button .fa {
	color: #0372bc;
}
.onboard-tree button:focus{
	background: #0372bc;
	border:2px solid #0372bc;
	color: #fff !important;
	outline: none;
}
.onboard-tree-item {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 20px;
}
.tree-description {
	float: left;
	margin:10px 0px 0px 10px;
}
/*DESCRIPTION*/
.onboard-job-description {
	padding:20px;
}
.onboard-job-description h3 {
	margin-top: 0px; 
}
.onboard-job-description h5 {
	margin-top: 20px; 
	font-weight: 700;
}

/*IINFORMATION*/
.onboard-information {
	height: 543px;
	padding:20px;
}
.onboard-information form input {
	margin-bottom: 10px ;
    margin-right: 10px;
}
.onboard-information h4{
	margin-top: 0px;
}
.onboard-information h6 {
	margin-bottom: 10px;
}
.salary{
	color: #0372bc;
	font-weight: 500;
}