<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>lux-onboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/onboard.css">
    <link rel="stylesheet" type="text/css" href="css/lygone.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

</head>
<body>

    <div class="wrapper">
        <div class="onboard-intro">
            <h1>Tell us about your perfect job</h1>
            <h5>Welcome to the Luxury Yacht Group. Fill out the form below to view open jobs.</h5>
            <a href="">Take me back to home</a>
        </div>

        <div class="onboard">
            <div class="onboard-steps-wrapper">

            <!-- BACK BUTTON FOR STEP 2 / 3 ON MOBILE-->
                <button class="mobile-back">
                    <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                </button>
            <!-- END BACK BUTTON -->

                <div class="department-title">
                    <h6>Step 1</h6>
                    <p>Select a department</p>
                </div>
                <div class="onboard-tree-title">
                    <h6>Step 2</h6>
                    <p>Select a position</p>
                </div>
                <div class="row no-gutters  description-title">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 line">
                        <div class="onboard-steps">
                            <h6>Step 3</h6>
                            <p>Enter your information</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="department">
                <div class="onboard-departments">

                    <button class="active" ng-click="dept='officer';prim_pos=null">
                        <div class="department-button active">
                            <img src="/Assets/img/icon-anchor.png" height="12px" width="12px">
                            <p>Officer</p> 
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" g-click="dept='deck';prim_pos=null">
                            <img src="/Assets/img/icon-anchor.png" height="12px" width="12px"> 
                            <p>Deck</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='engofficer';prim_pos=null">
                            <img src="/Assets/img/icon-engineer.png" height="12px" width="12px"> 
                            <p>Engineering Deck</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='eng';prim_pos=null">
                            <img src="/Assets/img/icon-engineer.png" height="12px" width="12px"> 
                            <p>Engineering</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='interiormgr';prim_pos=null">
                            <img src="/Assets/img/icon-interior.png" height="12px" width="12px"> 
                            <p>Interior Manager</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='interior';prim_pos=null">
                            <img src="/Assets/img/icon-interior.png" height="12px" width="12px"> 
                            <p>Interior</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='galley';prim_pos=null">
                            <img src="/Assets/img/icon-galley.png" height="12px" width="12px"> 
                            <p>Galley</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>
                    <button>
                        <div class="department-button" ng-click="dept='landbased';prim_pos=null">
                            <img src="/Assets/img/icon-other.png" height="8px" width="12px"> 
                            <p>Landbased</p>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </button>

                </div>
            </div>

            <div class="tree" ng-show="dept!=null">
                <div class="onboard-tree" ng-show="dept=='officer'">

                    <!-- NEW-->
                    <button class="onboard-tree-item department-switch">
                        <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>
                        <h5>Next Department</h5>
                    </button>
                    <!-- NEW-->

                    <button class="onboard-tree-item active" ng-class="{'active':prim_pos==257}">
                        <div class="position-add active">
                            <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line top"></div>
                            <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="tree-description" ng-click="prim_pos=257;getpos(257);">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>2nd Unlimited</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>

                    <button class="onboard-tree-item" ng-click="prim_pos=86;getpos(86);">
                        <div class="position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>2nd (<3000gt <6000kw)</h5>
                            <h6>Professional 5+ yrs</h6>
                            <h6>Master 200-500grt</h6>
                        </div>
                    </button>

                    <button class="onboard-tree-item">
                        <div class="position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>2nd (<3000gt <3000kw)</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>

                    <button class="onboard-tree-item">
                        <div class="tree-line tree-top-branch"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5> 2nd (<500gt <3000kw)</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>
                    <button class="onboard-tree-item">
                        <div class="tree-line tree-middle-branch"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="middle position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>OOW Engineer (MEOL)</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>
                    <button class="onboard-tree-item">
                        <div class="tree-line tree-middle-branch"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="middle position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>OOW Engineer (AEC)</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>
                    <button class="onboard-tree-item">
                        <div class="tree-line tree-middle-branch"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="middle position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line"></div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>Electronics Engineer (ETO)</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>
                    <button class="onboard-tree-item">
                        <div class="tree-line tree-bottom-branch"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line bottom"></div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>Junior Engineer unlicensed</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>

                    <!-- NEW-->
                    <button class="onboard-tree-item">
                        <div class="position-add">
                            <i class="fa fa-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="tree-line bottom"></div>
                        <div class="next-show">
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                            </div>
                        <div class="tree-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h5>Junior Engineer unlicensed</h5>
                            <h6>Veteran 10+ yrs</h6>
                            <h6>Master 500grt</h6>
                        </div>
                    </button>
                    <!-- NEW-->

                    <!-- NEW-->
                    <button class="onboard-tree-item department-switch">
                        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
                        <h5>Previous Department</h5>
                    </button>
                    <!-- NEW-->

                </div>
            </div>


            <div class="row no-gutters description-content">
                <div class="tablet-wrapper">
                    <div class="col-md-7" ng-show="prim_pos!=null">

                        <div class="onboard-job-description">
                            <div class="badge-wrapper">
                                <img src="img/ep.png" width="40px" height="18px">
                            </div>
                            <h3>Junior Captain</h3>
                            <h5>ENTRY REQUIREMENTS/LICENSING</h5>
                            <p>Master 500gt (Yacht) A-II/2</p>
                            <h5>SALARY EXPECTATIONS</h5>
                            <p ng-bind-html="position.entry_requirements"> </p>
                            <h5>SALARY EXPECTATIONS</h5>
                            <p class="salary" ng-bind-html="position.salary_expectations"> </p>
                            </div>
                        </div>



                            <div class="col-md-5 line" ng-show="prim_pos!=null">
                                <div class="onboard-information">
                                    <h4>{{position.job_title}}</h4>
                                    <h6>Please select all of the employment types that apply</h6>
                                    <form>
                                      <input type="checkbox" checked>Full Time<br>
                                      <input type="checkbox">Full Time Rotational<br>
                                      <input type="checkbox">Seasonal<br>
                                      <input type="checkbox">Freelance / Deliver / Daywork<br>
                                  </form>

                                  <h6>Enter your desired monthly wage</h6>
                                  <input type="text" name="lastname" class="wage" value=" $5,000">
                                  <button class="btn btn-default active">Submit</button>
                              </div>
                          </div>


                      </div>
                  </div>

              </div>

              <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
              <script src="js/bootstrap.js"></script>
</body>
</html>